.clients{
    .client-slider{
        .item{
            height: 100px;
            display: grid;
            align-items: center;
            justify-content: center;
            margin: 0 12px;
            background: $accent-1;
            border-radius: 10px;
        }
    }
}