.contact{
    .title{
        b{
            font-weight: 500;
        }
    }
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 32px;
        @include media-query(992px) {
            margin-bottom: 32px;
        }
        @include media-query(492px) {
            gap: 16px;
        }
        li{
            i{
                color: $accent-1;
                font-size: 16px;
                margin-right: 8px;
            }  
        }
    }
}