.services {
    .service-box {
        padding: 32px;
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        @include media-query(492px) {
            align-items: flex-start;
            gap: 32px;
            flex-direction: column;
            padding: 24px;
        }
        .text-block {
            p {
                max-width: 283px;
            }
        }
        .img-block {
            margin: 0 auto;
        }
    }
}
